# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=98e7d0f185731a73e1fba69538186895
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Configure your db driver and server_version in config/packages/doctrine.yaml
DATABASE_URL=mysql://root:password@db:3306/dev
###< doctrine/doctrine-bundle ###

### Email Notifications Functionality
#
# Set the username and password for the UTD SMTP server, otherwise email notifications will not work
#
SMTP_USERNAME=user
SMTP_PASSWORD=password
# Has to be the actual email the credentials correspond to or server will complain
FROM_EMAIL=csmc@utdallas.edu
