{% extends 'admin/base.html.twig' %}
{% block body %}
    <div class="page-title">
        <div class="title_left">
            <h3>File Manager</h3>
        </div>

        <div class="title_right">

        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class=""></div>
        </div>
    </div>
{% endblock %}