
###> symfony/webpack-encore-pack ###
**/node_modules/
/public/build/
**/public/uploads
###< symfony/webpack-encore-pack ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
