<div class="content_head">
    <h2 class="content_title">Hours of Operation</h2>
</div>
<div class="content_list">
    {# TODO put this in db and make editable#}
    <div class="content_list_label">Monday</div>
    <div class="content_list_info">10:00 AM - 8:30 PM</div>
    <div class="content_list_label">Tuesday</div>
    <div class="content_list_info">10:00 AM - 10:00 PM</div>
    <div class="content_list_label">Wednesday</div>
    <div class="content_list_info">10:00 AM - 10:00 PM</div>
    <div class="content_list_label">Thursday</div>
    <div class="content_list_info">10:00 AM - 8:30 PM</div>
    <div class="content_list_label">Friday</div>
    <div class="content_list_info">10:00 AM - 6:00 PM</div>
    <div class="content_list_label">Saturday</div>
    <div class="content_list_info">12:00 PM - 6:00 PM</div>
    <div class="content_list_label">Sunday</div>
    <div class="content_list_info">12:00 PM - 6:00 PM</div>
</div>