<div class="content_head">
    <h2 class="content_title">Locations</h2>
</div>
<div class="content_list">
    {% if rooms|length > 0 %}
        {% for room in rooms %}
            <div class="content_list_label">
                <a class="room_link" target="_blank"
                   href="http://www.utdallas.edu/locator/{{ room.building ~ '_' ~ room.floor ~ '.' ~ room.number }}">{{ room.building ~ ' ' ~ room.floor ~ '.' ~ room.number }}</a>
            </div>
            <div class="content_list_info">{{ room.description }}</div>
        {% endfor %}
    {% else %}
    {% endif %}
</div>