<div class="content_head">
    <h2 class="content_title">Announcements</h2>
</div>
<div class="content_list">
    {% if announcements is not empty %}
        {% for announcement in announcements %}
            <div class="content_list_label">{{ announcement.postDate|date('m/d/Y') }}</div>
            <div class="content_list_info">{{ announcement.message }}</div>
        {% endfor %}
    {% else %}
        <div class="content_list_label"></div>
        <div class="content_list_info">No recent announcements</div>
    {% endif %}
</div>