{% extends 'role/developer/base.html.twig' %}
{% block body %}
    <table id="table" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>User</th>
            <th>Time</th>
            <th>IP Address</th>
            <th>Legacy</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            var render_user = function(data, type, row) {
                return row.user.firstName + ' ' + row.user.lastName;
            };

            var render_ip = function(data, type, row) {
                return row.ip.address;
            };

            var render_legacy = function(data, type, row) {
                return '';
            };

            $('#table').DataTable({
                ordering: true,
                searching: true,
                paging: true,
                ajax: {
                    url: '{{ path('dev_swipes_feed') }}',
                    dataSrc: ''
                },
                columns: [
                    {render: render_user},
                    {data: 'time'},
                    {render: render_ip},
                    {render: render_legacy}
                ]
            });
        });
    </script>
{% endblock %}