{% for flash_message in app.flashes('warning') %}
    <div id="flash_warning" class="alert alert-danger">
        {{ flash_message }}
    </div>
{% endfor %}
{% for flash_message in app.flashes('notice') %}
    <div id="flash_notice" class="alert alert-success">
        {{ flash_message }}
    </div>
{% endfor %}
{% for flash_message in app.flashes('message') %}
    <div id="flash_message" class="alert alert-info">
        {{ flash_message }}
    </div>
{% endfor %}