{% extends 'shared/base.html.twig' %}
{% block body %}
    <form>
        <div class="form-group">
            <label for="">Report Templates</label>
            <select id="templates" class="form-control">

            </select>
        </div>
    </form>

    <form>
        <div class="form-group">
            <label for="">R</label>

        </div>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            // get saved reports


        });
    </script>
{% endblock %}